In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/supermarket-sales-data/annex1.csv
/kaggle/input/supermarket-sales-data/annex3.csv
/kaggle/input/supermarket-sales-data/annex2.csv
/kaggle/input/supermarket-sales-data/annex4.csv

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('_mpl-gallery')
pd.set_option("display.max_columns", 300)

In [3]:
# import data

df_name=pd.read_csv('/kaggle/input/supermarket-sales-data/annex1.csv')
df_sales=pd.read_csv('/kaggle/input/supermarket-sales-data/annex2.csv')
df_price_per_kg=pd.read_csv('/kaggle/input/supermarket-sales-data/annex3.csv')
df_loss_rate=pd.read_csv('/kaggle/input/supermarket-sales-data/annex4.csv')

In [4]:
# understanding the dataset's
print('-------------Product name tabel-------------')
name=df_name.info()

print(name)

print('-------------Sales tabel-------------')
sales=df_sales.info()

print(sales)

print('-------------Price tabel-------------')
price=df_price_per_kg.info()

print(price)

print('-------------Loss Rate % tabel-------------')
loss=df_loss_rate.info()

print(loss)

-------------Product name tabel-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB
None
-------------Sales tabel-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         878503 non-null  object
 1   Time                         878503 non-null  object
 2   Item Code                    878503 non-null  int64
 3   Quantity Sold (kilo)         878503 non-null  float64
 4   Unit Selling Price (RMB/kg)  878503 non-null  float64
 5   Sale or Return               878503 non-null  object
 6   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 46.9+ MB
None
-------------Price tabel-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55982 entries, 0 to 55981
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      55982 non-null  object
 1   Item Code                 55982 non-null  int64
 2   Wholesale Price (RMB/kg)  55982 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None
-------------Loss Rate % tabel-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Loss Rate (%)  251 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB
None

In [5]:
# rename kolom and formating data table
new_name = ['item_code', 'item_name', 'category_code', 'category_name']
df_name.rename(columns=dict(zip(df_name.columns, new_name)), inplace=True)

df_name.info()

df_name.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_code      251 non-null    int64
 1   item_name      251 non-null    object
 2   category_code  251 non-null    int64
 3   category_name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

,item_code,item_name,category_code,category_name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables

In [6]:
# rename kolom and formating data table
new_sales = ['date', 'time', 'item_code', 'qty_sold(kg)',
       'unit_selling(rmb_kg)', 'sale/return', 'discount(%)']
df_sales.rename(columns=dict(zip(df_sales.columns, new_sales)), inplace=True)

df_sales = df_sales.astype({'time':'timedelta64[s]', 'discount(%)':'bool'})
df_sales['date']=pd.to_datetime(df_sales['date'])
df_sales.info()

df_sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  878503 non-null  datetime64[ns]
 1   time                  878503 non-null  timedelta64[s]
 2   item_code             878503 non-null  int64
 3   qty_sold(kg)          878503 non-null  float64
 4   unit_selling(rmb_kg)  878503 non-null  float64
 5   sale/return           878503 non-null  object
 6   discount(%)           878503 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(1), timedelta64[s](1)
memory usage: 41.1+ MB

,date,time,item_code,qty_sold(kg),unit_selling(rmb_kg),sale/return,discount(%)
0,2020-07-01,0 days 09:15:07,102900005117056,0.396,7.6,sale,True
1,2020-07-01,0 days 09:17:27,102900005115960,0.849,3.2,sale,True
2,2020-07-01,0 days 09:17:33,102900005117056,0.409,7.6,sale,True
3,2020-07-01,0 days 09:19:45,102900005115823,0.421,10.0,sale,True
4,2020-07-01,0 days 09:20:23,102900005115908,0.539,8.0,sale,True

In [7]:
# rename kolom and formating data table
new_price_per_kg = ['date', 'item_code', 'wholesale(rmb_kg)']
df_price_per_kg.rename(columns=dict(zip(df_price_per_kg.columns, new_price_per_kg)), inplace=True)
df_price_per_kg['date']=pd.to_datetime(df_price_per_kg['date'])

df_price_per_kg.info()

df_price_per_kg.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55982 entries, 0 to 55981
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               55982 non-null  datetime64[ns]
 1   item_code          55982 non-null  int64
 2   wholesale(rmb_kg)  55982 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 1.3 MB

        date        item_code  wholesale(rmb_kg)
0 2020-07-01  102900005115762               3.88
1 2020-07-01  102900005115779               6.72
2 2020-07-01  102900005115786               3.19
3 2020-07-01  102900005115793               9.24
4 2020-07-01  102900005115823               7.03

In [8]:
# rename kolom and formating data table
new_loss_rate = ['item_code', 'item_name', 'loss_rate(%)']
df_loss_rate.rename(columns=dict(zip(df_loss_rate.columns, new_loss_rate)), inplace=True)

df_loss_rate.info()

df_loss_rate.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_code     251 non-null    int64
 1   item_name     251 non-null    object
 2   loss_rate(%)  251 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB

         item_code                 item_name  loss_rate(%)
0  102900005115168          Niushou Shengcai          4.39
1  102900005115199         Sichuan Red Cedar         10.46
2  102900005115250  Xixia Black Mushroom (1)         10.80
3  102900005115625     Local Xiaomao Cabbage          0.18
4  102900005115748              White Caitai          8.78

**Transaction Data with Item Category**

In [9]:
df = pd.merge(df_name, df_sales, on='item_code')

df.head()

,item_code,item_name,category_code,category_name,date,time,qty_sold(kg),unit_selling(rmb_kg),sale/return,discount(%)
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 10:02:13,0.743,5.0,sale,True
1,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 10:48:42,0.502,5.0,sale,True
2,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 11:10:13,0.301,5.0,sale,True
3,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 12:34:32,0.382,5.0,sale,True
4,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 13:33:59,0.261,5.0,sale,True

**Count of Items in Each Category with Non-negative Quantity Sold.**

In [10]:
df_min = df[df['qty_sold(kg)'] < 0]
df_min

,item_code,item_name,category_code,category_name,date,time,qty_sold(kg),unit_selling(rmb_kg),sale/return,discount(%)
3262,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables,2023-03-21,0 days 21:46:04,-0.262,33.6,return,True
10145,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2021-09-25,0 days 20:41:01,-0.524,5.0,return,True
10341,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2021-10-23,0 days 20:08:43,-0.518,12.0,return,True
13062,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2022-07-03,0 days 18:59:54,-0.411,3.2,return,True
13895,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2023-03-19,0 days 15:07:13,-0.293,7.2,return,True
...,...,...,...,...,...,...,...,...,...,...
866895,106949711300259,Needle Mushroom (Box),1011010801,Edible Mushroom,2023-01-19,0 days 09:45:01,-1.000,5.9,return,True
868611,106949711300259,Needle Mushroom (Box),1011010801,Edible Mushroom,2023-02-20,0 days 15:16:13,-1.000,5.9,return,True
868974,106949711300259,Needle Mushroom (Box),1011010801,Edible Mushroom,2023-03-05,0 days 13:51:00,-1.000,4.9,return,True
874856,106958851400125,Haixian Mushroom (Bag) (4),1011010801,Edible Mushroom,2021-10-01,0 days 15:28:08,-1.000,3.9,return,True
878057,106971533455008,Haixian Mushroom (Bag) (3),1011010801,Edible Mushroom,2023-03-25,0 days 20:37:05,-1.000,3.0,return,True

In [11]:
filtered = df[df['qty_sold(kg)'] >= 0 ]
no_minus_cat = filtered.groupby(['category_code', 'category_name']).size().reset_index(name='no_minus')
no_minus_cat.sort_values(by='no_minus', ascending=False, inplace=True)

no_minus_cat

   category_code                category_name  no_minus
0     1011010101       Flower/Leaf Vegetables    331789
4     1011010504                     Capsicum    207894
5     1011010801              Edible Mushroom    148341
1     1011010201                      Cabbage     86524
2     1011010402  Aquatic Tuberous Vegetables     58613
3     1011010501                      Solanum     44881

**Summary Statistics of Quantity Sold for Each Item Category**

In [12]:
filtered = df[df['qty_sold(kg)'] >= 0 ]
statistics_sold = filtered.groupby(['category_code', 'category_name']).agg(
    total_sold=('qty_sold(kg)', 'sum'),
    max_of_qty=('qty_sold(kg)', 'max'),
    min_of_qty=('qty_sold(kg)', 'min'),
    avg_of_qty=('qty_sold(kg)', 'mean')).reset_index()

statistics_sold

,category_code,category_name,total_sold,max_of_qty,min_of_qty,avg_of_qty
0,1011010101,Flower/Leaf Vegetables,198659.553,160.000,0.003,0.598753
1,1011010201,Cabbage,41789.777,12.487,0.022,0.482985
2,1011010402,Aquatic Tuberous Vegetables,40607.552,17.000,0.050,0.692808
3,1011010501,Solanum,22442.119,12.500,0.050,0.500036
4,1011010504,Capsicum,91645.112,10.014,0.004,0.440826
5,1011010801,Edible Mushroom,76131.726,25.000,0.011,0.513221

**Summary Statistics of Total Price Sold for Each Item Category**

In [13]:
filtered = df[df['qty_sold(kg)'] >= 0]
filtered['total_price'] = filtered['qty_sold(kg)'] * filtered['unit_selling(rmb_kg)']

statistics_price = filtered.groupby(['category_code', 'category_name']).agg(
    total_price=('total_price', 'sum'),
    max_price=('total_price', 'max'),
    min_price=('total_price', 'min'),
    avg_price=('total_price', 'mean')
).round(2).reset_index()


filtered.drop(columns=['total_price'], inplace=True)

statistics_price

/tmp/ipykernel_18/3469243811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_price'] = filtered['qty_sold(kg)'] * filtered['unit_selling(rmb_kg)']
/tmp/ipykernel_18/3469243811.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered.drop(columns=['total_price'], inplace=True)

,category_code,category_name,total_price,max_price,min_price,avg_price
0,1011010101,Flower/Leaf Vegetables,1079834.83,944.00,0.02,3.25
1,1011010201,Cabbage,375980.84,77.73,0.20,4.35
2,1011010402,Aquatic Tuberous Vegetables,350306.06,183.60,0.40,5.98
3,1011010501,Solanum,191226.98,90.00,0.20,4.26
4,1011010504,Capsicum,754564.42,397.49,0.08,3.63
5,1011010801,Edible Mushroom,620110.20,450.00,0.06,4.18

**Summary Statistics of Unit Selling Prices for Each Item Category**

In [14]:
filtered = df[df['qty_sold(kg)'] >= 0 ]
statistics_unit_selling = filtered.groupby(['category_code', 'category_name']).agg(
    total_unit_selling=('unit_selling(rmb_kg)', 'sum'),
    max_unit_selling=('unit_selling(rmb_kg)', 'max'),
    min_unit_selling=('unit_selling(rmb_kg)', 'min'),
    avg_unit_selling=('unit_selling(rmb_kg)', 'mean')).round(2).reset_index()

statistics_unit_selling

,category_code,category_name,total_unit_selling,max_unit_selling,min_unit_selling,avg_unit_selling
0,1011010101,Flower/Leaf Vegetables,2095972.4,119.9,0.1,6.32
1,1011010201,Cabbage,790664.4,19.8,0.5,9.14
2,1011010402,Aquatic Tuberous Vegetables,567970.7,53.8,1.0,9.69
3,1011010501,Solanum,390248.5,21.6,1.5,8.70
4,1011010504,Capsicum,2199345.4,79.8,0.9,10.58
5,1011010801,Edible Mushroom,1785385.2,116.0,0.5,12.04

In [15]:
no_of_return=(df['sale/return'], lambda x: sum(x == 'return'))
no_of_return

(0         sale
 1         sale
 2         sale
 3         sale
 4         sale
           ...
 878498    sale
 878499    sale
 878500    sale
 878501    sale
 878502    sale
 Name: sale/return, Length: 878503, dtype: object,
 <function __main__.<lambda>(x)>)

In [16]:
df.head()

,item_code,item_name,category_code,category_name,date,time,qty_sold(kg),unit_selling(rmb_kg),sale/return,discount(%)
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 10:02:13,0.743,5.0,sale,True
1,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 10:48:42,0.502,5.0,sale,True
2,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 11:10:13,0.301,5.0,sale,True
3,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 12:34:32,0.382,5.0,sale,True
4,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,2020-10-30,0 days 13:33:59,0.261,5.0,sale,True